{{- if eq .Values.deploy.controller true }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: baremetal-csi-controller
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: baremetal-csi-controller
      role: csi-do
  template:
    metadata:
      labels:
        app: baremetal-csi-controller
        role: csi-do
    spec:
      serviceAccount: csi-controller-sa
      terminationGracePeriodSeconds: 10
      containers:
      # ********************** EXTERNAL-PROVISIONER sidecar container definition **********************
      - name: csi-provisioner
        {{- if .Values.env.test  }}
        image: csi-provisioner:{{ .Values.provisioner.image.tag }}
        {{- else }}
        image: {{ .Values.global.registry }}/csi-provisioner:{{ .Values.provisioner.image.tag }}
        {{- end }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
        - "--csi-address=$(ADDRESS)"
        - "--v=5"
        - "--feature-gates=Topology=true"
        # TODO: remove AK8S-58
        - "--timeout=60s"
        env:
        - name: ADDRESS
          value: /csi/csi.sock
        volumeMounts:
        - name: socket-dir
          mountPath: /csi
      # ********************** EXTERNAL_ATTACHER sidecar container definition **********************
      - name: csi-attacher
        {{- if .Values.env.test  }}
        image: csi-attacher:{{ .Values.attacher.image.tag }}
        {{- else }}
        image: {{ .Values.global.registry }}/csi-attacher:{{ .Values.attacher.image.tag }}
        {{- end }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
        - "--v=5"
        - "--csi-address=$(ADDRESS)"
        env:
        - name: ADDRESS
          value: /csi/csi.sock
        volumeMounts:
        - name: socket-dir
          mountPath: /csi
      # ********************** baremetal-csi-controller container definition **********************
      # TODO: Make CSI containers name smaller - AK8S-57
      - name: controller
        {{- if .Values.env.test  }}
        image: baremetal-csi-plugin-controller:{{ default .Values.image.tag .Values.controller.image.tag }}
        {{- else }}
        image: {{ .Values.global.registry }}/baremetal-csi-plugin-controller:{{ default .Values.image.tag .Values.controller.image.tag }}
        {{- end }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args:
        - "--endpoint=$(CSI_ENDPOINT)"
        - "--namespace=$(NAMESPACE)"
        - --verbose={{ .Values.log.verbose }}
        {{- if .Values.logReceiver.create  }}
        - "--logpath=/var/log/csi.log"
        {{- end }}
        env:
        - name: CSI_ENDPOINT
          value: unix:///csi/csi.sock
        - name: LOG_FORMAT
          value: {{ .Values.log.format }}
        - name: KUBE_NODE_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: spec.nodeName
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        volumeMounts:
        - name: socket-dir
          mountPath: /csi
        - name: logs
          mountPath: /var/log
#          Log receiver
    {{- if .Values.logReceiver.create  }}
      - name: fluentbit-agent
        image: {{ .Values.global.registry }}/{{ .Values.fluentbitAgent.image.repository }}:{{ default .Values.tag .Values.fluentbitAgent.image.tag }}
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - name: logs-config
          mountPath: /fluent-bit/etc
        - name: logs
          mountPath: /var/log/
    {{- end }}
      volumes:
      - name: logs
        emptyDir: {}
    {{- if .Values.logReceiver.create }}
      - name: logs-config
        configMap:
            name: {{ .Release.Name }}-logs-config
    {{- end }}
      - name: socket-dir
        hostPath:
          path: /var/baremetal-csi/controller
          type: DirectoryOrCreate
{{- end }}
