# idea files
.idea
*.iml
# generated code
*.pb.go
api/generated
zz_generated.*.go
# libries and build artifacts
*_output
vendor
build/
# binaries
pkg/controller/controller
pkg/controller/health_probe
pkg/node/node
pkg/node/health_probe
pkg/drivemgr/basemgr/basemgr
pkg/drivemgr/halmgr/halmgr
pkg/drivemgr/loopbackmgr/loopbackmgr
pkg/drivemgr/idracmgr/idracmgr
pkg/extender/scheduler-extender
# tests results
coverage.out
coverage.html
