# git diff files
*.diff
# idea files
.idea
*.iml
# libries and build artifacts
*_output
vendor
build/
# tests results
coverage.out
coverage.html
ci.log
test/e2e/report.xml
test/kind/kind
# vscode
.vscode
# python 
__pycache__
bin/controller-gen