# idea files
.idea
*.iml
# generated code
*.pb.go
api/generated
zz_generated.*.go
# libries and build artifacts
*_output
vendor
build/
# binaries
pkg/controller/controller
pkg/hwmgr/hwmgr
pkg/node/node
# tests results
coverage.out
