
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.2
  creationTimestamp: null
  name: availablecapacities.csi-baremetal.dell.com
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.Size
    description: Size of AvailableCapacity
    name: SIZE
    type: string
  - JSONPath: .spec.storageClass
    description: StorageClass of AvailableCapacity
    name: STORAGE CLASS
    type: string
  - JSONPath: .spec.Location
    description: Drive/LVG UUID used by AvailableCapacity
    name: LOCATION
    type: string
  - JSONPath: .spec.NodeId
    description: Node id of Available Capacity
    name: NODE
    type: string
  group: csi-baremetal.dell.com
  names:
    kind: AvailableCapacity
    listKind: AvailableCapacityList
    plural: availablecapacities
    shortNames:
    - ac
    - acs
    singular: availablecapacity
  scope: Cluster
  subresources: {}
  validation:
    openAPIV3Schema:
      description: AvailableCapacity is the Schema for the availablecapacities API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            Location:
              type: string
            NodeId:
              type: string
            Size:
              format: int64
              type: integer
            storageClass:
              type: string
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
