# Docker registry to pull images
registry: asdrepo.isus.emc.com:9042


port: 8889

env:
  test: false

# extender will be looking for volumes that should be provisioned
# by storage class with provided provisioner name
provisioner: csi-baremetal

feature:
  usenodeannotation: true
  useexternalannotation: false
  nodeIDAnnotation:

tls:
  certFile: ""
  privateKeyFile: ""

log:
  level: debug

image:
  tag: green
  pullPolicy: Always

patcher:
  enable: true
  platform: vanilla
  source_config_path: config.yaml
  source_config_19_path: config-19.yaml
  source_policy_path: policy.yaml
  target_config_path: /etc/kubernetes/scheduler/config.yaml
  target_config_19_path: /etc/kubernetes/scheduler/config-19.yaml
  target_policy_path: /etc/kubernetes/scheduler/policy.yaml
  kubeconfig: /etc/kubernetes/scheduler.conf
  backup_path: /etc/kubernetes/scheduler
  interval: 60
  restore_on_shutdown: true
  config_map_name: schedulerpatcher-config

metrics:
  port: 8787
  path: /metrics
