# Docker registry to pull images
registry: docker.io/objectscale

port: 8889

env:
  test: false

# extender will be looking for volumes that should be provisioned
# by storage class with provided provisioner name
provisioner: csi-baremetal

feature:
  usenodeannotation: true
  useexternalannotation: false
  nodeIDAnnotation:

tls:
  certFile: ""
  privateKeyFile: ""

log:
  level: debug

image:
  tag: 0.0.13-376.008bda2
  pullPolicy: Always

patcher:
  enable: false
  manifest: /etc/kubernetes/manifests/kube-scheduler.yaml
  source_config_path: config.yaml
  source_policy_path: policy.yaml
  target_config_path: /etc/kubernetes/scheduler/config.yaml
  target_policy_path: /etc/kubernetes/scheduler/policy.yaml
  interval: 60
  restore_on_shutdown: true
  config_map_name: schedulerpatcher-config

metrics:
  port: 8787
  path: /metrics
